<div class="normal_form">
  <div class="form_titulo">
    &nbsp;
  </div>
<% form_for(@notificacao) do |f| %>
  <%= f.error_messages %>
  <!--
  <label>
	<b>cartorio_id</b>
    <%= f.text_field :cartorio_id %>
  </label>
  <label>
	<b>notificado_id</b>
    <%= f.text_field :notificado_id %>
  </label>
  -->

  <label> 
	<b>CPF NOTIFICADO </b>
	<%= f.text_field :cpf %>
    <span id="div_cpf">
    </span>
  </label>

  
  <label>		    
	<b>ENDEREÇO: </b>
	<%= f.text_field :endereco %>
  </label>
  <label>	    
	<b>BAIRRO: </b>
	<%= f.text_field :bairro %>
  </label>
  
  <label>	     
	<b>UF </b>
    <%= select_tag 'notificacao[uf]', options_for_select(lista_estados, "#{params[:uf].blank? ? 'nil' : params[:uf]}") %>
  </label>

  <label>		    
	<b>CIDADE </b>
    <span id="div_municipios">
        <%= select_tag 'notificacao[cidade_id]', options_for_select(@cidades.collect { |c| [c.nome, c.id] }.insert(0, ['Selecione um Município...', ''])), :onchange => 'remove_css(this)', :valida => true %>
    </span>
  </label>

  <label> 
	<b>Motivo Notificação </b>
    <%= f.select :motivo_notificacao_id, MotivoNotificacao.find(:all).collect { |m| [m.motivo, m.id]}%>
  </label>

  <label>
	<b>texto</b>
    <%= f.text_area :texto %>
  </label>


  <p class="form_bar">
    <%= f.submit 'Salvar' %>
  </p>
<% end %>
</div>

<%= observe_field 'notificacao_uf', :url => { :action => 'get_municipios' }, 
                                    :update => :div_municipios, 
                                    :with   => 'uf' %>

<%= observe_field 'notificacao_cpf', :on => 'blur', 
                                     :url => {:controller => 'usuarios', :action => 'get_dados_usuario'}, 
                                     :update => 'div_cpf', 
                                     :with => 'cpf' -%>
