<div class="normal_form">
  <div class="form_titulo">
    &nbsp;
  </div>
<% form_for(@notificacao) do |f| %>
  <%= f.error_messages %>
  <!--
  <label>
	<b>cartorio_id</b>
    <%= f.text_field :cartorio_id %>
  </label>
  <label>
	<b>notificado_id</b>
    <%= f.text_field :notificado_id %>
  </label>
  -->

  <label> 
	<b>CPF NOTIFICADO</b>
    <%= f.text_field :motivo_notificacao_id %>
  </label>
 



  <label> 

	<b>motivo_notificacao_id</b>
    <%= f.text_field :motivo_notificacao_id %>
  </label>
  <label>

	<b>texto</b>
    <%= f.text_area :texto %>
  </label>



  <p class="form_bar">
    <%= f.submit 'Salvar' %>
  </p>
<% end %>
</div>

