<h1>New notificacao</h1>

<% form_for(@notificacao) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :notificado_id %><br />
    <%= f.text_field :notificado_id %>
  </p>
  <p>
    <%= f.label :notificado_version_id %><br />
    <%= f.text_field :notificado_version_id %>
  </p>
  <p>
    <%= f.label :cartorio_id %><br />
    <%= f.text_field :cartorio_id %>
  </p>
  <p>
    <%= f.label :motivo_notificacao_id %><br />
    <%= f.text_field :motivo_notificacao_id %>
  </p>
  <p>
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', notificacoes_path %>