<p>
  <b>Notificado:</b>
  <%=h @notificacao.notificado_id %>
</p>

<p>
  <b>Notificado version:</b>
  <%=h @notificacao.notificado_version_id %>
</p>

<p>
  <b>Cartorio:</b>
  <%=h @notificacao.cartorio_id %>
</p>

<p>
  <b>Motivo notificacao:</b>
  <%=h @notificacao.motivo_notificacao_id %>
</p>

<p>
  <b>Descricao:</b>
  <%=h @notificacao.descricao %>
</p>


<%= link_to 'Edit', edit_notificacao_path(@notificacao) %> |
<%= link_to 'Back', notificacoes_path %>