<ul  class="box">
<%= mostra_menu('home', :Home)%>
<% if logged_in? %>
	<%= mostra_menu('mensagens','Mensagens') %>
	<%= mostra_menu('pessoas','Pessoas') %>
	<%= mostra_menu('processos','Processos') %>
	<%= mostra_menu('financeiro','Financeiro') %>
	<%= mostra_menu('administracao', 'Administração')%>
	<!--<li class="last"><a href="/logout"><span>Sair</span></a></li>-->
<% end %>
</ul>