<ul id="nav">
<%= mostra_menu('home', :Home)%>
<%= mostra_menu('pessoas','Pessoas') %>
<%= mostra_menu('#','Nova Notificação') %>
<%= mostra_menu('#', :Protocolo)%>
<%= mostra_menu('#', 'Certidões')%>
<%= mostra_menu('administracao', 'Administração')%>
<li class="last"><a href="#">Sair</a></li>
</ul>