<h1>Editing lote</h1>

<% form_for(@lote) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :tribunal_id %><br />
    <%= f.text_field :tribunal_id %>
  </p>
  <p>
    <%= f.label :selo_prefixo %><br />
    <%= f.text_field :selo_prefixo %>
  </p>
  <p>
    <%= f.label :selo_incial %><br />
    <%= f.text_field :selo_incial %>
  </p>
  <p>
    <%= f.label :selo_final %><br />
    <%= f.text_field :selo_final %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @lote %> |
<%= link_to 'Back', lotes_path %>