<p>
  <b>Número:</b>
  <%=h @lote.id %>
</p>

<p>
  <b>Tribunal:</b>
  <%=h @lote.tribunal.nome %>
</p>

<p>
  <b>Selo prefixo:</b>
  <%=h @lote.selo_prefixo %>
</p>

<p>
  <b>Selo inicial:</b>
  <%=h @lote.selo_inicial %>
</p>

<p>
  <b>Selo final:</b>
  <%=h @lote.selo_final %>
</p>       
           
<ul>
<% @lote.selos.find(:all, :order => "id").each do |s| %>
       <li><%= link_to s.numero, s %> - <%= s.documento ? link_to('Visualizar Documento',s.documento) : 'Nao Utilizado' %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_lote_path(@lote) %> |
<%= link_to 'Back', lotes_path %>
