<script type="text/javascript"  src="/javascripts/dojo/dojo.js" djConfig="parseOnLoad: true"></script>


<script type="text/javascript">
	dojo.require("dojo.parser");
  dojo.require("dijit.Editor");


  dojo.addOnLoad(function () {
      dojo.connect(dojo.byId('dojo_form'), 'onsubmit', function () {
         dojo.byId('modelo_de_notificacao_texto').value = dijit.byId('editor').getValue(false);
      });
   });
</script>

<% form_for( @modelo_de_notificacao, :id=> "dojo_form") do |f| %>
  <%= f.error_messages %>
<div class="formAnswer">
  <p>
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </p>

  <p>
    Abaixo a lista de variáveis que você pode utilizar:
    <ul>
      <li>{{CPF_NOTIFICADO}} - CPF da pessoa que receberá a notificação</li>
      <li>{{NOME_NOTIFICADO}} - NOME da pessoa que receberá a notificação</li>
      <li>{{ENDERECO}} - Endereço do notificado</li>
      <li>{{BAIRRO}} - Bairro do notificado</li>
      <li>{{UF}} - UF do notificado</li>
      <li>{{CIDADE}} - Cidade do notificado</li>
      <li>{{MOTIVO}} - Motivo da notificação</li>
      <li>{{TEXTO}} - Texto da notificação</li>
    </ul>
  </p>

  <p>
    <%= f.label :texto %><br />
    <%= f.hidden_field :texto %>
    <div id="editor" style="background-color: #FFF; width: 800px" dojoType="dijit.Editor" extraPlugins="['dijit._editor.plugins.AlwaysShowToolbar']"><%= @modelo_de_notificacao.texto %></div>



  </p>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
</div>
<% end %>
