<h1>Cadastro de configuracoes</h1>

<table>
  <tr>
    <th>Chave</th>
    <th>Valor</th>
    <th>Descricao</th>
  </tr>

<% @configuracoes.each do |configuracao| %>
  <tr>
    <td><%=h configuracao.chave %></td>
    <td><%=h configuracao.valor %></td>
    <td><%=h configuracao.descricao %></td>
    <td><%= link_to 'Visualizar', configuracao %></td>
    <td><%= link_to 'Editar', edit_configuracao_path(configuracao) %></td>
    <td><%= link_to 'Apagar', configuracao, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo configuracao', new_configuracao_path %>
