<p>
  <b>Chave:</b>
  <%=h @configuracao.chave %>
</p>

<p>
  <b>Valor:</b>
  <%=h @configuracao.valor %>
</p>

<p>
  <b>Descricao:</b>
  <%=h @configuracao.descricao %>
</p>


<%= link_to 'Editar', edit_configuracao_path(@configuracao) %> |
<%= link_to 'Voltar', configuracoes_path %>
