<h1>New preco</h1>

<% form_for(@preco) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :tribunal_id %><br />
    <%= f.text_field :tribunal_id %>
  </p>
  <p>
    <%= f.label :certidao %><br />
    <%= f.text_field :certidao %>
  </p>
  <p>
    <%= f.label :notificacao %><br />
    <%= f.text_field :notificacao %>
  </p>
  <p>
    <%= f.label :registro %><br />
    <%= f.text_field :registro %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', precos_path %>