<p>
  <b>Tribunal:</b>
  <%=h @preco.tribunal_id %>
</p>

<p>
  <b>Certidao:</b>
  <%=h @preco.certidao %>
</p>

<p>
  <b>Notificacao:</b>
  <%=h @preco.notificacao %>
</p>

<p>
  <b>Registro:</b>
  <%=h @preco.registro %>
</p>


<%= link_to 'Edit', edit_preco_path(@preco) %> |
<%= link_to 'Back', precos_path %>