<p>
  <b>Certidao:</b>
  <%=h @valor_sistema.certidao %>
</p>

<p>
  <b>Notificacao:</b>
  <%=h @valor_sistema.notificacao %>
</p>

<p>
  <b>Registro:</b>
  <%=h @valor_sistema.registro %>
</p>


<%= link_to 'Edit', edit_valor_sistema_path(@valor_sistema) %> |
<%= link_to 'Back', valores_sistema_path %>