<h1>Editing certidao</h1>

<% form_for(@certidao) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :documento_id %><br />
    <%= f.text_field :documento_id %>
  </p>
  <p>
    <%= f.label :numero %><br />
    <%= f.text_field :numero %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @certidao %> |
<%= link_to 'Back', certidaos_path %>