<h1>New selo</h1>

<% form_for(@selo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :numero %><br />
    <%= f.text_field :numero %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', selos_path %>