<p>
  <b>Tribunal:</b>
  <%=h @selo.lote.tribunal.nome %>
</p>
                               
<p>
  <b>Numero Lote:</b>
  <%=h @selo.lote.id %>
</p>


<p>
  <b>Numero:</b>
  <%=h @selo.numero %>
</p>
                               
<p>
  <b>Status:</b>
  <%=h @selo.descricao_status %>
</p>


<%= link_to 'Voltar', @selo.lote %>