<h1>Editing mensagem</h1>

<% form_for(@mensagem) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :usuario_id %><br />
    <%= f.text_field :usuario_id %>
  </p>
  <p>
    <%= f.label :destinatario_id %><br />
    <%= f.text_field :destinatario_id %>
  </p>
  <p>
    <%= f.label :assunto %><br />
    <%= f.text_field :assunto %>
  </p>
  <p>
    <%= f.label :texto %><br />
    <%= f.text_area :texto %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @mensagem %> |
<%= link_to 'Back', mensagens_path %>