<h1>Cadastro de mensagens</h1>

<table>
  <tr>
    <th>Usuario</th>
    <th>Destinatario</th>
    <th>Assunto</th>
    <th>Texto</th>
    <th>Status</th>
  </tr>

<% @mensagens.each do |mensagem| %>
  <tr>
    <td><%=h mensagem.usuario_id %></td>
    <td><%=h mensagem.destinatario_id %></td>
    <td><%=h mensagem.assunto %></td>
    <td><%=h mensagem.texto %></td>
    <td><%=h mensagem.status %></td>
    <td><%= link_to 'Visualizar', mensagem %></td>
    <td><%= link_to 'Editar', edit_mensagem_path(mensagem) %></td>
    <td><%= link_to 'Apagar', mensagem, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo mensagem', new_mensagem_path %>
