<link rel="stylesheet" type="text/css" href="/javascripts/dijit/themes/claro/claro.css" />


<h1>Nova mensagem</h1>

<% form_for(@mensagem) do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field :usuario_id, :value => current_usuario.id %>


  <p>
    <%= f.label :destinatario_id %>
    <%= f.select :destinatario_id, Usuario.all.collect {|u| [u.nome, u.id]} %>
  </p>
  <p>
    <%= f.label :assunto %>
    <%= f.text_field :assunto %>
  </p>

  <p style="border: solid 1px black">
    <textarea name="mensagem[texto]" dojoType="dijit.Editor" id="mensagem_texto" class="claro" > </textarea>
  </p>



  <p>
    <%= f.submit 'Enviar' %>
  </p>
<% end %>

<%= link_to 'Voltar', mensagens_path %>





<script type="text/javascript" src="/javascripts/dojo/dojo.js" djConfig="parseOnLoad: true"></script>
<script type="text/javascript">
    dojo.require("dijit.Editor");
    dojo.addOnLoad(function() {
        if (document.pub) {
            document.pub();
        }
    });

    function atualiza_campo(x) {
      alert(x);
    }

</script>

