<h1>Nova mensagem</h1>

<div class="normal_form">
<% form_for(@mensagem) do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field :usuario_id, :value => current_usuario.id %>



    <label for="mensagem_destinatio_id"><b>Destinatário</b>
    <%= f.select :destinatario_id, Usuario.all.collect {|u| [u.nome, u.id]} %><br/>
    </label>

    <label><b>Assunto</b>
    <%= f.text_field :assunto, :class=> "mondrian_text_box" %><br/>
    </label>



    <textarea name="mensagem[texto]"  id="mensagem_texto" dojoType="dijit.Editor" > </textarea>




  <p class="form_bar">
    <%= f.submit 'Enviar' %>
  </p>
<% end %>
</div>
<%= link_to 'Voltar', mensagens_path %>





<script type="text/javascript" src="/javascripts/dojo/dojo.js" djConfig="parseOnLoad: true"></script>
<script type="text/javascript">
    dojo.require("dijit.Editor");
    dojo.addOnLoad(function() {
        if (document.pub) {
            document.pub();
        }
    });

    function atualiza_campo(x) {
      alert(x);
    }

</script>

