<div class="mondrian_form">
  <div class="form_titulo">
    &nbsp;
  </div>
<% form_for(@pessoa) do |f| %>
  <%= f.error_messages %>

  <label class="uma_linha_form"><b>Nome</b>
    <%= f.text_field :nome, :class => "mondrian_text_box", :size => "80" %>
  </label>

  <label class="uma_linha_form"><b>nome_mae </b>
    <%= f.text_field :nome_mae, :size => "80" %>
  </label>



  <label class="uma_linha_form"><b>Rg</b>
    <%= f.text_field :rg, :size => "14" %>
  </label>
  <label class="uma_linha_form"><b>Orgão Emissor </b>
    <%= f.text_field :orgao_emissor_rg, :size => "14" %>
  </label>
  <label class="uma_linha_form"><b>UF EMISSOR </b>
    <%= select_tag :uf_emissor_rg, options_for_select(lista_estados, "#{params[:uf].blank? ? 'nil' : params[:uf]}") %>
  </label>

  <label class="uma_linha_form"><b>CPF</b>
    <%= f.text_field :cpf,  :size => "14"  %>
  </label>
  <label class="uma_linha_form"><b>CNH </b>
    <%= f.text_field :cnh, :size => "14" %>
  </label>
  <label  class="uma_linha_form"><b>Estado Civil </b>
    <%= f.text_field :estado_civil, :size => 10 %>
  </label>


  <label class="uma_linha_form"><b>ENDEREÇO </b>
    <%= f.text_field :endereco %>
  </label>
  <label class="uma_linha_form"><b>BAIRRO </b>
    <%= f.text_field :bairro %>
  </label>

 <label class="uma_linha_form" >    
	<b>UF </b>
    <%= select_tag 'notificacao[uf]', options_for_select(lista_estados, "#{params[:uf].blank? ? 'nil' : params[:uf]}") %>
  </label>	

  <label class="uma_linha_form"><b>CIDADE </b>
    <%= f.text_field :cidade_id %>
  </label>
  <label class="uma_linha_form"><b>CEP </b>
    <%= f.text_field :cep %>
  </label>



  <p class="form_bar">
    <%= f.submit 'Salvar' %>
  </p>
<% end %>
</div>

