<h1>Editar pessoa</h1>

<% form_for(@pessoa) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :cpf %><br />
    <%= f.text_field :cpf %>
  </p>
  <p>
    <%= f.label :rg %><br />
    <%= f.text_field :rg %>
  </p>
  <p>
    <%= f.label :orgao_emissor_rg %><br />
    <%= f.text_field :orgao_emissor_rg %>
  </p>
  <p>
    <%= f.label :uf_emissor_rg %><br />
    <%= f.text_field :uf_emissor_rg %>
  </p>
  <p>
    <%= f.label :cnh %><br />
    <%= f.text_field :cnh %>
  </p>
  <p>
    <%= f.label :nome_mae %><br />
    <%= f.text_field :nome_mae %>
  </p>
  <p>
    <%= f.label :endereco %><br />
    <%= f.text_field :endereco %>
  </p>
  <p>
    <%= f.label :bairro %><br />
    <%= f.text_field :bairro %>
  </p>
  <p>
    <%= f.label :cidade_id %><br />
    <%= f.text_field :cidade_id %>
  </p>
  <p>
    <%= f.label :cep %><br />
    <%= f.text_field :cep %>
  </p>
  <p>
    <%= f.label :estado_civil %><br />
    <%= f.text_field :estado_civil %>
  </p>
  <p>
    <%= f.label :created_by %><br />
    <%= f.text_field :created_by %>
  </p>
  <p>
    <%= f.label :updated_by %><br />
    <%= f.text_field :updated_by %>
  </p>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>

<%= link_to 'Visualizar', @pessoa %> |
<%= link_to 'Voltar', pessoas_path %>
