<h1>Nova Pessoa</h1>

<div class="mondrian_form">
<% form_for(@pessoa) do |f| %>
  <%= f.error_messages %>

  <label class="uma_linha_form"><b>Nome</b>
    <%= f.text_field :nome, :class => "mondrian_text_box", :size => "80" %>
  </label>

  <label class="uma_linha_form"><b>nome_mae </b>
    <%= f.text_field :nome_mae, :size => "80" %>
  </label>



  <label class="nova_linha_form"><b>Rg</b>
    <%= f.text_field :rg, :size => "14" %>
  </label>
  <label><b>Orgão </b>
    <%= f.text_field :orgao_emissor_rg, :size => "14" %>
  </label>
  <label class="quebrar_linha_form"><b>UF </b>
    <%= f.text_field :uf_emissor_rg, :size => "2" %>
  </label>

  <label class="nova_linha_form"><b>CPF</b>
    <%= f.text_field :cpf,  :size => "14"  %>
  </label>
  <label><b>CNH </b>
    <%= f.text_field :cnh, :size => "14" %>
  </label>
  <label  class="quebrar_linha_form"><b>Estado Civil </b>
    <%= f.text_field :estado_civil, :size => 10 %>
  </label>


  <label class="nova_linha_form"><b>endereco </b>
    <%= f.text_field :endereco %>
  </label>
  <label class="quebrar_linha_form"><b>bairro </b>
    <%= f.text_field :bairro %>
  </label>


  <label class="nova_linha_form"><b>cidade_id </b>
    <%= f.text_field :cidade_id %>
  </label>
  <label class="quebrar_linha_form"><b>cep </b>
    <%= f.text_field :cep %>
  </label>



  <p class="form_bar">
    <%= f.submit 'Salvar' %>
  </p>
<% end %>
</div>

<%= link_to 'Voltar', pessoas_path %>

