<h1>Cadastro de Depositários</h1>

<table>
  <tr>
    <th>Descrição</th>
    <th>Conta Bancária</th>
    <th>Agência</th>
    <th>Conta</th>
    <th>Banco</th>
    <th colspan=3>Opções</th>
  </tr>

<% @depositarios.each do |depositario| %>
  <tr>
    <td><%=h depositario.descricao %></td>
    <td><%=h depositario.descricao_tipo %></td>
    <td><%=h depositario.agencia %></td>
    <td><%=h depositario.conta %></td>
    <td><%=h depositario.banco %></td>
    <td><%= link_to 'Exibir', depositario %></td>
    <td><%= link_to 'Editar', edit_depositario_path(depositario) %></td>
    <td><%= link_to 'Excluir', depositario, :confirm => 'Confirma a Exclusão?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Depositário', new_depositario_path %>
