<h1>New depositario</h1>

<% form_for(@depositario) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </p>
  <p>
    <%= f.label :tipo %><br />
    <%= f.check_box :tipo %>
  </p>
  <p>
    <%= f.label :agencia %><br />
    <%= f.text_field :agencia %>
  </p>
  <p>
    <%= f.label :conta %><br />
    <%= f.text_field :conta %>
  </p>
  <p>
    <%= f.label :banco %><br />
    <%= f.text_field :banco %>
  </p>
  <p>
    <%= f.label :entidade_id %><br />
    <%= f.text_field :entidade_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', depositarios_path %>