<div class="normal_form">
  <div class="form_titulo">
    &nbsp;
  </div>
<% form_for(@tribunal) do |f| %>

  <%= f.error_messages %>

  <label><b>Uf</b>
    <%= f.text_field :uf %>
  </label>
  <label><b>Nome</b>
    <%= f.text_field :nome %>
  </label>
  <label><b>Presidente</b>
    <%= f.text_field :presidente %>
  </label>
  <p class="form_bar">
    <%= f.submit 'Salvar' %>
  </p>
<% end %>
</div>

