<h1>Editing tribunal</h1>

<% form_for(@tribunal) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :uf %><br />
    <%= f.text_field :uf %>
  </p>
  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :presidente %><br />
    <%= f.text_field :presidente %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @tribunal %> |
<%= link_to 'Back', tribunais_path %>