<p>
  <b>Uf:</b>
  <%=h @tribunal.uf %>
</p>

<p>
  <b>Nome:</b>
  <%=h @tribunal.nome %>
</p>

<p>
  <b>Presidente:</b>
  <%=h @tribunal.presidente %>
</p>


<%= link_to 'Editar', edit_tribunal_path(@tribunal) %> |
<%= link_to 'Voltar', tribunais_path %>
