<table>
  <tr>
    <th>Certidão</th>
    <th>Tipo de Documento</th>
    <th>Campo Chave</th>
    <th>Valor Chave</th>
  </tr>

<% certidoes.each do |certidao| %>
  <tr>
    <td><%=h certidao.id %></td>
    <td><%=h certidao.documento.tipo_documento.tipo %></td>
    <td><%= certidao.documento.campo_chave.nome %></td>
    <td><%= certidao.documento.valor_chave %></td>
    <td><%= link_to 'Visualizar Documento', certidao.documento %></td>
  </tr>
<% end %>
</table>
<h4><%= will_paginate (certidoes) %></h4>
