<% form_for(@conveniado) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :cnpj %><br />
    <%= f.text_field :cnpj %>
  </p>
  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>