<div class="normal_form">
  <div class="form_titulo">
    &nbsp;
  </div>
<% form_for(@conveniado) do |f| %>
  <%= f.error_messages %>

  <label>
    <b>cnpj </b>
    <%= f.text_field :cnpj %>
  </label>
  <label>
    <b>nome </b>
    <%= f.text_field :nome %>
  </label>
  <label>
  <b>uf </b>
    <%= f.text_field :uf %>
  </label>
  <p class="form_bar">
    <%= f.submit 'Salvar' %>
  </p>
<% end %>
</div>

