<h1>Listing conveniados</h1>

<table>
  <tr>
    <th>Cnpj</th>
    <th>Nome</th>
  </tr>

<% @conveniados.each do |conveniado| %>
  <tr>
    <td><%=h conveniado.cnpj %></td>
    <td><%=h conveniado.nome %></td>
    <td><%= link_to 'Show', conveniado %></td>
    <td><%= link_to 'Edit', edit_conveniado_path(conveniado) %></td>
    <td><%= link_to 'Destroy', conveniado, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New conveniado', new_conveniado_path %>