<div class="normal_form">
  <div class="form_titulo">
    &nbsp;
  </div>
<% form_for(@irtd) do |f| %>
  <%= f.error_messages %>

  <label>
    <b>uf</b>
    <%= f.select ("uf",lista_estados) %>
  </label>
  <label>
    <b>nome</b>
    <%= f.text_field :nome %>
  </label>
  <label>
    <b>presidente</b>
    <%= f.text_field :presidente %>
  </label>
  <p class="form_bar">
    <%= f.submit 'Salvar' %>
  </p>
<% end %>
</div>

