<h1>Listing irtds</h1>

<table>
  <tr>
    <th>Uf</th>
    <th>Nome</th>
    <th>Presidente</th>
  </tr>

<% @irtds.each do |irtd| %>
  <tr>
    <td><%=h irtd.uf %></td>
    <td><%=h irtd.nome %></td>
    <td><%=h irtd.presidente %></td>
    <td><%= link_to 'Show', irtd %></td>
    <td><%= link_to 'Edit', edit_irtd_path(irtd) %></td>
    <td><%= link_to 'Destroy', irtd, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New irtd', new_irtd_path %>