<h1>Novo irtd</h1>

<% form_for(@irtd) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :uf %><br />
    <%= f.text_field :uf %>
  </p>
  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :presidente %><br />
    <%= f.text_field :presidente %>
  </p>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>

<%= link_to 'Voltar', irtds_path %>
