<p>
  <b>Uf:</b>
  <%=h @irtd.uf %>
</p>

<p>
  <b>Nome:</b>
  <%=h @irtd.nome %>
</p>

<p>
  <b>Presidente:</b>
  <%=h @irtd.presidente %>
</p>


<%= link_to 'Edit', edit_irtd_path(@irtd) %> |
<%= link_to 'Back', irtds_path %>