<div class="normal_form">
  <div class="form_titulo">
    &nbsp;
  </div>
<% form_for(@categoria) do |f| %>
  <%= f.error_messages %>

  <label>
      <b>Ligada a</b>
      <% if @categoria.parent_id %>
        <%= f.hidden_field :parent_id %>
        <%= @categoria.categoria.nome %>
      <% else %>
        <%= f.select :parent_id, @categorias, :include_blank => true %>
      <% end %>
  </label>

  <label>
    <b>nome </b>
    <%= f.text_field :nome %>
  </label>

  <label>
    <b>descricao </b>
    <%= f.text_area :descricao %>
  </label>



  <p class=" form_bar">
    <%= f.submit 'Salvar' %>
  </p>
<% end %>
</div>

