<p>
  <b>Nome:</b>
  <%=h @categoria.nome %>
</p>

<p>
  <b>Descricao:</b>
  <%=h @categoria.descricao %>
</p>

<p>
  <b>Categoria Pai:</b>
  <%=h @categoria.categoria.nome if @categoria.categoria %>
</p>


<h2>Sub Categorias</h2>

<div id="arvore">

<ul>
  <% @categoria.categorias.each do |c| %>
    <%= escrever_categoria(c) %>
  <% end %>
</ul>

</div>

<%= link_to 'Nova Categoria Filha', "/categorias/new/#{@categoria.id}" %> |
<%= link_to 'Editar', edit_categoria_path(@categoria) %> |
<%= link_to 'Excluir', @categoria, :confirm => 'Tem cereteza?', :method => :delete %> |
<%= link_to 'Voltar', categorias_path %>
