<p>
  <b>Nome:</b>
  <%=h @categoria.nome %>
</p>

<p>
  <b>Descricao:</b>
  <%=h @categoria.descricao %>
</p>

<p>
  <b>Parent:</b>
  <%=h @categoria.parent_id %>
</p>


<%= link_to 'Edit', edit_categoria_path(@categoria) %> |
<%= link_to 'Back', categorias_path %>