<div class="normal_form">
<form> 
	<label>
		<b>Tipo de Documento</b>
		<%= select 'tipo','tipo_documento_id', options_for_select(TipoDocumento.all.collect {|t| [t.tipo, t.id]}), :include_blank => true%>
	</label>           
	<p class="form_bar">
	   <%= submit_tag "Visualizar" %> 
	</p>
</form>                  
</div>


<br/>  
<% if documentos.size > 0%>
<table>
  <tr>
    <% documentos[0].tipo_documento.campo_documentos.each do |c| %>
      <th><%= c.nome %></th>
    <% end %>
    <th colspan="3">
  </tr>

<% documentos.each do |documento| %>
  <tr>
    <% documento.valor_campo_documentos.each do |v| %>
      <td><%= v.valor %></td>
    <% end %>
    <td><%= link_to 'Visualizar', documento %></td>
    <td><%= link_to 'Editar', edit_documento_path(documento) %></td>
    <td><%= link_to 'Apagar', documento, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>    
 
  <h4><%= will_paginate (documentos) %></h4>
<% end %>