<h1>Editar documento</h1>

<% form_for(@documento) do |f| %>
  <%= f.error_messages %>

<%= f.hidden_field_tag 'documento[usuario_id]', @documento.usuario_id %>

<% for c in @campos %>
	<label><b><%= c.nome %></b>
	<% case c.tipo_campo when "TEXTO" %>
		<%= text_field_tag "metadados[#{c.id}]" %>
		<% when "DATA" %>
		    <%= text_field_tag "metadados[#{c.id}]" %>
		<% when "NUMERO" %>
		    <%= text_field_tag "metadados[#{c.id}]" %>
		<% when "TEXTO_LONGO" %>
		    <%= text_area_tag "metadados[#{c.id}]" %>
	<% end %>     
	</label>
<% end %>    
<br>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>

<%= link_to 'Visualizar', @documento %> |
<%= link_to 'Voltar', documentos_path %>
