<h1>Editar documento</h1>

<% form_for(@documento) do |f| %>
  <%= f.error_messages %>

<%= hidden_field_tag 'documento[id]', @documento.id %>
<table>
<% for c in @campos %>
    <tr><td> <b> <%= c.nome %> </b></td>
        <td> 
	<% case c.tipo_campo when "TEXTO" %>
		<%= text_field_tag "metadados[#{c.id}]", c.valor_campo(@documento) %>
		<% when "DATA" %>
		    <%= text_field_tag "metadados[#{c.id}]", c.valor_campo(@documento) %>
		<% when "NUMERO" %>
		    <%= text_field_tag "metadados[#{c.id}]", c.valor_campo(@documento) %>
		<% when "TEXTO_LONGO" %>
		    <%= text_area_tag "metadados[#{c.id}]", c.valor_campo(@documento) %>
	<% end %>     
	</td>
    </tr>
<% end %>    
  <tr>
     <td colspan='2' style='text-align: right'>
       <%= f.submit 'Salvar' %>
     </td>
  </tr>
<% end %>
</table>

<%= link_to 'Visualizar', @documento %> |
<%= link_to 'Voltar', documentos_path %>
