
<label>
	    <b>CPF Cliente</b><%= text_field_tag 'usuario[cpf]' %>   <span id="nome_cliente"></span>
</label>

<% for c in @campos %>
	<label><b><%= c.nome %></b>
	<% case c.tipo_campo when "TEXTO" %>
		<%= text_field_tag "metadados[#{c.id}]" %>
		<% when "DATA" %>
		    <%= text_field_tag "metadados[#{c.id}]" %>
		<% when "NUMERO" %>
		    <%= text_field_tag "metadados[#{c.id}]" %>
		<% when "TEXTO_LONGO" %>
		    <%= text_area_tag "metadados[#{c.id}]" %>
	<% end %>     
	</label>
<% end %>    

<label><b>Arquivo</b><%= file_field_tag 'documento[imagem]' %>

<%= observe_field 'usuario_cpf',
		:update => 'nome_cliente',
		:url => {:controller => 'usuarios', :action => 'por_cpf'},
		:with => 'cpf'
 %>
