<div class="normal_form">
	  <h3>Documento Selado Eletronicamente</h3>
	  <label><b>Num. Selo:</b> <%= @documento.selo.numero %></label>
	  <label><b>Cartório:</b> <%= @documento.cartorio.oficio %></label>
	  <label><b>Tabelião:</b> <%= @documento.cartorio.tabeliao %></label>
	  <label><a href="#">Mais detalhes da autenticação</a></label>
</div>
<br/>
<iframe width="100%" height="100%" src="<%= @documento.to_pdf %>" style="border: solid 1px #ccc">
	
</iframe>


<%= link_to 'Editar', edit_documento_path(@documento) %> |
<%= link_to 'Voltar', documentos_path %>
