<h1>Editar valor_campo_processo</h1>

<% form_for(@valor_campo_processo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :processo_id %><br />
    <%= f.text_field :processo_id %>
  </p>
  <p>
    <%= f.label :campo_processo_id %><br />
    <%= f.text_field :campo_processo_id %>
  </p>
  <p>
    <%= f.label :valor %><br />
    <%= f.text_area :valor %>
  </p>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>

<%= link_to 'Visualizar', @valor_campo_processo %> |
<%= link_to 'Voltar', valor_campo_processos_path %>
