<div class="normal_form">
  <div class="form_titulo">
    &nbsp;
  </div>
<% form_for(@cidade) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :uf %><br />
    <%= f.text_field :uf %>
  </p>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>
</div>
</div>

