<h1>Cadastro de cidades</h1>

<div class="normal_form">
<form>
<label><b>Selecione a UF</b><%= select_tag 'uf',options_for_select(lista_estados)%></label>
<p class="form_bar">
<%= submit_tag 'Pesquisar' %>
</p>
</form>


<table>
  <tr>
    <th>Nome</th>
    <th>Uf</th>
  </tr>

<% @cidades.each do |cidade| %>
  <tr>
    <td><%=h cidade.nome %></td>
    <td><%=h cidade.uf %></td>
    <td><%= link_to 'Visualizar', cidade %></td>
    <td><%= link_to 'Editar', edit_cidade_path(cidade) %></td>
    <td><%= link_to 'Apagar', cidade, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<% if @cidades.size > 0 %>
   <h4><%= will_paginate (@cidades) %></h4>
<% end %>
<br />

<%= link_to 'Novo cidade', new_cidade_path %>

