<h1>Novo Arquivo de Pagamento</h1>

<% form_for(@arquivo_pagamento, :html => { :multipart => true }) do |f| %>
<%= f.error_messages %>
  <p>
    <strong><%= f.label :arquivo, 'Arquivo:' %></strong>
    <%= f.file_field :arquivo %>
  </p>
  <p>
    <strong><%= f.label :descricao, 'Observação:' %></strong><br />
    <%= f.text_area :descricao, :rows => 4, :cols => 60 %>
  </p>
  <p>
    <%= f.submit "Enviar" %>
  </p>
<% end %>

<%= link_to 'Retornar', arquivo_pagamentos_path %>
