<h1>Cadastro de processos</h1>

<table>
  <tr>
    <th>Tipo processo</th>
  </tr>

<% @processos.each do |processo| %>
  <tr>
    <td><%=h processo.tipo_processo_id %></td>
    <td><%= link_to 'Visualizar', processo %></td>
    <td><%= link_to 'Editar', edit_processo_path(processo) %></td>
    <td><%= link_to 'Apagar', processo, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo processo', new_processo_path %>
