

<div class="normal_form">

  <div class="form_titulo">
    &nbsp;
  </div>

<% form_for(@cartorio) do |f| %>
  <%= f.error_messages %>



  <label>
    <b>cidade_id </b>
    <%= f.select :cidade_id, Cidade.find(:all).collect{|c|[c.nome, c.id]} %>
  </label>
  <label>
    <b>oficio </b>
    <%= f.text_field :oficio %>
  </label>
  <label>
    <b>tabeliao </b>
    <%= f.text_field :tabeliao %>
  </label>
  <label>
    <b>endereco </b>
    <%= f.text_field :endereco %>
  </label>
  <label>
    <b>bairro </b>
    <%= f.text_field :bairro %>
  </label>
  <label>
    <b>fone </b>
    <%= f.text_field :fone %>
  </label>
  <label>
    <b>fax </b>
    <%= f.text_field :fax %>
  </label>
  <p class="form_bar">
    <%= f.submit 'Salvar' %>
  </p>
<% end %>
</div>

