<p>
  <b>Cidade:</b>
  <%=h @cartorio.cidade_id %>
</p>

<p>
  <b>Oficio:</b>
  <%=h @cartorio.oficio %>
</p>

<p>
  <b>Tabeliao:</b>
  <%=h @cartorio.tabeliao %>
</p>

<p>
  <b>Endereco:</b>
  <%=h @cartorio.endereco %>
</p>

<p>
  <b>Bairro:</b>
  <%=h @cartorio.bairro %>
</p>

<p>
  <b>Fone:</b>
  <%=h @cartorio.fone %>
</p>

<p>
  <b>Fax:</b>
  <%=h @cartorio.fax %>
</p>


<%= link_to 'Edit', edit_cartorio_path(@cartorio) %> |
<%= link_to 'Back', cartorios_path %>