<h1>Cadastro de campo_processos</h1>

<table>
  <tr>
    <th>Tipo campo</th>
    <th>Tipo processo</th>
    <th>Nome</th>
    <th>Tamanho</th>
  </tr>

<% @campo_processos.each do |campo_processo| %>
  <tr>
    <td><%=h campo_processo.tipo_campo_id %></td>
    <td><%=h campo_processo.tipo_processo_id %></td>
    <td><%=h campo_processo.nome %></td>
    <td><%=h campo_processo.tamanho %></td>
    <td><%= link_to 'Visualizar', campo_processo %></td>
    <td><%= link_to 'Editar', edit_campo_processo_path(campo_processo) %></td>
    <td><%= link_to 'Apagar', campo_processo, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo campo_processo', new_campo_processo_path %>
