<div class="normal_form">
  <div class="form_titulo">
    &nbsp;
  </div>

<% form_for (@usuario) do |f| -%>
<%= error_messages_for :usuario %>
<label><b>Login</b>
<%= f.text_field :login %>
</label>

<label><b>E-mail</b>
<%= f.text_field :email %></label>

<label><b>Senha</b>
<%= f.password_field :password %></label>

<label><b>Confirmar Senha</b>
<%= f.password_field :password_confirmation %></label>

<p class="form_bar"><%= submit_tag 'Salvar' %></p>
<% end -%>
</div>

