<script>
var i = 0;
function pesquisarListar(){
   if ( i % 2 == 0 ){
      document.getElementById("listar").style.display="none";
      document.getElementById("pesquisar").style.display="block";
      document.getElementById("listar_clientes").style.display="block";
   } else {
      document.getElementById("listar").style.display="block";
      document.getElementById("pesquisar").style.display="none";
      document.getElementById("listar_clientes").style.display="none";
   }
   i++;
}

</script>

<h1>Cadastro de Usuários</h1>
<br/>
<div dojoType="dijit.layout.TabContainer" style="width: 100%; height: 300px;"
tabStrip="true">
    <div dojoType="dijit.layout.ContentPane" title="Meus Usuários" selected="true">
		<%= render 'lista', :usuarios => @usuarios %>	    
    </div>   

    <div dojoType="dijit.layout.ContentPane" title="Novo Usuário de <%= current_usuario.entidade_type %>">
        <%= render 'form' %>
    </div> 

	<% if usuario_cartorio? %>
    <div dojoType="dijit.layout.ContentPane" title="Novo Cliente" selected="true">    
	    <%= @usuario.entidade = nil %>
		<%= render 'form' %> 	    
    </div>                  
           
    <div dojoType="dijit.layout.ContentPane" title="Localizar Cliente" selected="true">
       <%#= render 'pesquisar' %>
       <table width='600'>
          <tr> 
             <th width='120'> CPF </th>
             <th width='360'> Nome </th>
             <th width='120' >
                 <a href='#' style='color: white' onclick="pesquisarListar()"> Pesquisar / Listar </a>
             </th> 
          </tr>
       </table>

       <table width='600' id='pesquisar' style='display: none'>
          <tr>
              <td width='112'> <%= text_field_tag :buscar_cpf,  nil, :style=> "width: 110px" %> </td>
              <td width='478'> <%= text_field_tag :buscar_nome, nil, :style=> "width: 454px"  %> </td>
          </tr>
       </table>
          <table id='listar_clientes'> </table>

       <table width='600' id='listar'>
          <% Usuario.all(:conditions => "cadastrado_por_id = #{current_usuario.entidade_id}", :order => 'nome').each do |c| %>
             <tr>
                <td width='112'> <%= c.cpf%></td>
                <td width='478' colspan='2'> <%= c.nome %></td>
              </tr> 
                  <% end %>
           </table>
    </div>   
    <% end %>
</div>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/dojo/1.5/dojo/dojo.xd.js" djConfig="parseOnLoad: true"></script>
<script type="text/javascript">
    dojo.require("dijit.layout.TabContainer");
    dojo.require("dijit.layout.ContentPane");
</script>


<%= observe_field 'buscar_cpf',  :url => { :action => 'buscar_clientes' },
                                           :update => :listar_clientes,
                                           :with   => "'nome=' + jQuery('#buscar_nome').val() + '&cpf='+ jQuery('#buscar_cpf').val()" %>

<%= observe_field 'buscar_nome', :url => { :action => 'buscar_clientes' },
                                           :update => :listar_clientes,
                                           :with   => "'nome=' + jQuery('#buscar_nome').val() + '&cpf='+ jQuery('#buscar_cpf').val()" %>
