<h1>Cadastro de Usuários</h1>
<br/>
<div dojoType="dijit.layout.TabContainer" style="width: 100%; height: 300px;"
tabStrip="true">
    <div dojoType="dijit.layout.ContentPane" title="Meus Usuários" selected="true">
		<%= render 'lista', :usuarios => @usuarios %>	    
    </div>   

    <div dojoType="dijit.layout.ContentPane" title="Novo Usuário de <%= current_usuario.entidade_type %>">
        <%= render 'form' %>
    </div> 

	<% if usuario_cartorio? %>
    <div dojoType="dijit.layout.ContentPane" title="Novo Cliente" selected="true">    
	    <%= @usuario.entidade = nil %>
		<%= render 'form' %> 	    
    </div>                  
           
    <div dojoType="dijit.layout.ContentPane" title="Localizar Cliente" selected="true">
		<%#= render 'pesquisar' %>
           <table>
              <tr><th> ID </th> <th> Nome </th> <th> CPF </th> </tr>
              <% Usuario.all(:conditions => "entidade_id is null", :order => 'nome').each do |c| %>
                    <tr>
                        <td> <%= c.id %> </td>
                        <td> <%= c.nome %></td>
                        <td> <%= c.cpf%></td>
                   </tr> 
              <% end %>
           </table>
    </div>   
    <% end %>
</div>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/dojo/1.5/dojo/dojo.xd.js" djConfig="parseOnLoad: true"></script>
<script type="text/javascript">
    dojo.require("dijit.layout.TabContainer");
    dojo.require("dijit.layout.ContentPane");
</script>




