<h1>Cadastro de motivo_notificacaos</h1>

<table>
  <tr>
    <th>Motivo</th>
    <th>Descricao</th>
  </tr>

<% @motivo_notificacaos.each do |motivo_notificacao| %>
  <tr>
    <td><%=h motivo_notificacao.motivo %></td>
    <td><%=h motivo_notificacao.descricao %></td>
    <td><%= link_to 'Visualizar', motivo_notificacao %></td>
    <td><%= link_to 'Editar', edit_motivo_notificacao_path(motivo_notificacao) %></td>
    <td><%= link_to 'Apagar', motivo_notificacao, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo motivo_notificacao', new_motivo_notificacao_path %>
