<h1>Editing imagem_processo</h1>

<% form_for(@imagem_processo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :processo_id %><br />
    <%= f.text_field :processo_id %>
  </p>
  <p>
    <%= f.label :imagem_file_name %><br />
    <%= f.text_field :imagem_file_name %>
  </p>
  <p>
    <%= f.label :imagem_content_type %><br />
    <%= f.text_field :imagem_content_type %>
  </p>
  <p>
    <%= f.label :imagem_file_size %><br />
    <%= f.text_field :imagem_file_size %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @imagem_processo %> |
<%= link_to 'Back', imagem_processos_path %>