<h1>Listing imagem_processos</h1>

<table>
  <tr>
    <th>Processo</th>
    <th>Imagem file name</th>
    <th>Imagem content type</th>
    <th>Imagem file size</th>
  </tr>

<% @imagem_processos.each do |imagem_processo| %>
  <tr>
    <td><%=h imagem_processo.processo_id %></td>
    <td><%=h imagem_processo.imagem_file_name %></td>
    <td><%=h imagem_processo.imagem_content_type %></td>
    <td><%=h imagem_processo.imagem_file_size %></td>
    <td><%= link_to 'Show', imagem_processo %></td>
    <td><%= link_to 'Edit', edit_imagem_processo_path(imagem_processo) %></td>
    <td><%= link_to 'Destroy', imagem_processo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New imagem_processo', new_imagem_processo_path %>