<p>
  <b>Processo:</b>
  <%=h @imagem_processo.processo_id %>
</p>

<p>
  <b>Imagem file name:</b>
  <%=h @imagem_processo.imagem_file_name %>
</p>

<p>
  <b>Imagem content type:</b>
  <%=h @imagem_processo.imagem_content_type %>
</p>

<p>
  <b>Imagem file size:</b>
  <%=h @imagem_processo.imagem_file_size %>
</p>


<%= link_to 'Edit', edit_imagem_processo_path(@imagem_processo) %> |
<%= link_to 'Back', imagem_processos_path %>