<h1>Listing movimentos</h1>

<table>
  <tr>
    <th>Valor</th>
    <th>Depositario</th>
    <th>Observacao</th>
    <th>Documento type</th>
    <th>Documento</th>
    <th>Data contabil</th>
    <th>Data vencimento</th>
    <th>Data pagamento</th>
    <th>Entidade</th>
    <th>Sub depositario</th>
    <th>Tipo movimento</th>
    <th>Numero documento</th>
    <th>Tipo de documento</th>
    <th>Fornecedor</th>
    <th>Numero transacao</th>
  </tr>

<% @movimentos.each do |movimento| %>
  <tr>
    <td><%=h movimento.valor %></td>
    <td><%=h movimento.depositario_id %></td>
    <td><%=h movimento.observacao %></td>
    <td><%=h movimento.documento_type %></td>
    <td><%=h movimento.documento_id %></td>
    <td><%=h movimento.data_contabil %></td>
    <td><%=h movimento.data_vencimento %></td>
    <td><%=h movimento.data_pagamento %></td>
    <td><%=h movimento.entidade_id %></td>
    <td><%=h movimento.sub_depositario_id %></td>
    <td><%=h movimento.tipo_movimento %></td>
    <td><%=h movimento.numero_documento %></td>
    <td><%=h movimento.tipo_de_documento %></td>
    <td><%=h movimento.fornecedor %></td>
    <td><%=h movimento.numero_transacao %></td>
    <td><%= link_to 'Show', movimento %></td>
    <td><%= link_to 'Edit', edit_movimento_path(movimento) %></td>
    <td><%= link_to 'Destroy', movimento, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New movimento', new_movimento_path %>