<%= link_to 'Novo Lançamento', new_movimento_path %>
<br>
<p>
  <b>Código Lançamento:</b>
  <%=h @movimento.id %>
</p>

<p>
  <b>Depositário:</b>
  <%=h @movimento.depositario_id %> - <%= @movimento.depositario.descricao %><%= "/#{@movimento.sub_depositario.descricao}" if @movimento.sub_depositario %> 
</p>

<p>
  <b>Valor:</b>
  <%=h @movimento.valor %>
</p>

<p>
  <b>Observações:</b>
  <%=h @movimento.observacao %>
</p>

<p>
  <b>Usuário Insert:</b>
  <%=h @movimento.usuario_insert.login if @movimento.usuario_insert %>
</p>

<p>
  <b>Usuário Update:</b>
  <%=h @movimento.usuario_update.login if @movimento.usuario_update %>
</p>


<%= link_to 'Voltar', :action => 'contas_pagas' %>
