<h1>Cadastro de valor_campo_documentos</h1>

<table>
  <tr>
    <th>Documento</th>
    <th>Campo documento</th>
    <th>Valor</th>
  </tr>

<% @valor_campo_documentos.each do |valor_campo_documento| %>
  <tr>
    <td><%=h valor_campo_documento.documento_id %></td>
    <td><%=h valor_campo_documento.campo_documento_id %></td>
    <td><%=h valor_campo_documento.valor %></td>
    <td><%= link_to 'Visualizar', valor_campo_documento %></td>
    <td><%= link_to 'Editar', edit_valor_campo_documento_path(valor_campo_documento) %></td>
    <td><%= link_to 'Apagar', valor_campo_documento, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo valor_campo_documento', new_valor_campo_documento_path %>
