<h1>Cadastro de perfis</h1>

<table>
  <tr>
    <th>Nome</th>
  </tr>

<% @perfis.each do |perfil| %>
  <tr>
    <td><%=h perfil.nome %></td>
    <td><%= link_to 'Visualizar', perfil %></td>
    <td><%= link_to 'Editar', edit_perfil_path(perfil) %></td>
    <td><%= link_to 'Apagar', perfil, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo perfil', new_perfil_path %>
