<h1>Novo perfil</h1>

<% form_for(@perfil) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>

<%= link_to 'Voltar', perfis_path %>
