<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="content-language" content="en" />
	<meta name="robots" content="noindex,nofollow" />
	<link rel="stylesheet" type="text/css" href="/javascripts/dijit/themes/tundra/tundra.css" />

	<link rel="stylesheet" media="screen,projection" type="text/css" href="/stylesheets/mondrian/reset.css" /> <!-- RESET -->
	<link rel="stylesheet" media="screen,projection" type="text/css" href="/stylesheets/mondrian/main.css" /> <!-- MAIN STYLE SHEET -->
	<link rel="stylesheet" media="screen,projection" type="text/css" href="/stylesheets/mondrian/2col.css" title="2col" /> <!-- DEFAULT: 2 COLUMNS -->
	<link rel="alternate stylesheet" media="screen,projection" type="text/css" href="/stylesheets/mondrian/1col.css" title="1col" /> <!-- ALTERNATE: 1 COLUMN -->
	<!--[if lte IE 6]><link rel="stylesheet" media="screen,projection" type="text/css" href="/stylesheets/mondrian/main-ie6.css" /><![endif]--> <!-- MSIE6 -->
	<link rel="stylesheet" media="screen,projection" type="text/css" href="/stylesheets/mondrian/style.css" /> <!-- GRAPHIC THEME -->
	<link rel="stylesheet" media="screen,projection" type="text/css" href="/stylesheets/mondrian/mystyle.css" /> <!-- WRITE YOUR CSS CODE HERE -->
	
	<!-- CSS DO SITE -->
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/lavalamp.css" type="text/css" media="screen" />
    
    <!-- jQuery -->
	<script type="text/javascript" src="/javascripts/mondrian/jquery.js"></script>
    <script> jQuery.noConflict();</script>
	<script type="text/javascript" src="/javascripts/mondrian/switcher.js"></script>
	<script type="text/javascript" src="/javascripts/mondrian/toggle.js"></script>
	<script type="text/javascript" src="/javascripts/mondrian/ui.core.js"></script>
	<script type="text/javascript" src="/javascripts/mondrian/ui.tabs.js"></script>   
    <script type="text/javascript" src="/javascripts/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.lavalamp.min.js"></script>

    <%= javascript_include_tag 'application.js' %>
    <%= javascript_include_tag 'prototype.js' %>
    <%= javascript_include_tag 'mascaras.js' %>

	<script type="text/javascript">
	jQuery(document).ready(function(){
		jQuery(".tabs > ul").tabs();
		
		// Efeitos do menu do site
        jQuery("#1, #2, #3").lavaLamp({
            fx: "backout",
            speed: 800,
            click: function(event, menuItem) {
                return true;
            }
        });
	});
	</script>
	
	<title> IRTDPJ - Sistema </title>
</head>

<body class="tundra" style='background: url("/images/bgsecundario.png") repeat-x scroll 0% -28px rgb(255, 255, 255); '>

<div id="" style="position: relative; height: 10px; width: 100%;"> </div>
 <div id="containerSite" style='width: 100%'>
    <div id="wrapper" style=' width: 100% '>
        <!-- Begin Top Bar  -->
        <div id="topbarSite" style='margin: 5px 0 7px 0; '>
              <div style='float: left; margin-top: 3px'>
                  <img src='/images/logoceb.png' width='220'/>
              </div>
              <div style='float:right; margin-right: -27px; margin-top: 3px;  '>
                  <img src='/images/headerright.png' width='400' />
              </div>
        </div>
        <div id='bottombar' style='margin-left: 0px; width: 100% '>
           <!-- Begin LavaLamp Navigation  -->
           <div id="menu_site" style="padding: 5px 20px; float: left; width: 68%">
	      <%= render :partial => "menus/principal"%>
           </div>

           <!-- Menu lateral esquerdo -->
           <div id="menu_site" style="padding: 5px 20px; float: right; width: 25%" >
              <div style="float: right; padding-right: 0px;">
                   <a href="/logout/"><span><strong>SAIR</strong></span></a>
              </div>
              <div class='linha_h' style='float: right; padding: 0 ; margin:0 10px '></div>
              <div style="float: right; padding-right: 10px;">
                   <a href="#"><span><strong>AJUDA</strong></span></a>
              </div>
           </div>
           <!-- End LavaLamp Navigation  --> 
        </div>
        <!-- End Top Bar  -->

<div id="main">
	<hr class="noscreen" />




	<hr class="noscreen" />

	<!-- Columns -->
	<div id="cols" class="box">

		<!-- Aside (Left Column) -->
		<div id="aside" class="box">

			<div class="padding box">
				<!-- Logo (Max. width = 200px) -->
				<p id="logo"><a href="http://www.mondriantecnmologia.com"><img src="/images/logo.jpg" alt="Our logo" title="Visit Site" />
                                </a></p>

			<%= scaffold_tools if logged_in? %>
			</div> <!-- /padding -->

	        <% if logged_in? %>
			<div id="utility">
	        		<%= render :partial => session[:submenu] if session[:submenu] %>
			</div>
		<% end %>

		</div> <!-- /aside -->

		<hr class="noscreen" />

		<!-- Content (Right Column) -->
		<div id="content" class="box">
			<%= yield %>
		</div> <!-- /content -->

	</div> <!-- /cols -->

	<hr class="noscreen" />

	<!-- Footer -->
	<div id="footer" class="box">

		<p class="f-left">&copy; 2010 <a href="http://www.fabricainfo.com">Fabrica Info</a>, Todos os diretitos reservados &reg;</p>

<!--		<p class="f-right">Templates by <a href="http://www.adminizio.com/">Adminizio</a></p>-->

	</div> <!-- /footer -->

</div> <!-- /main -->

    </div>
 </div>
</body>




</html>


